pyspark
findspark
exifread
pykalman
osmnx
networkx
folium
pandas
numpy
sklearn
glob
sys
time
warnings
os
shutil
seaborn
matplotlib
exif # will further investigate with this module and apporach using EXIF images

# if you get an error message when attempting to install osmnx, try:
#    sudo apt-get update -y
#    sudo apt-get install -y libspatialindex-dev
#    pip3 install Rtree

# and then:
#    pip3 install osmnx